<form [formGroup]="editRequest" *ngIf="request$ | async as request">
  <h2>Orginal request</h2>
  <dl>
    <dd>Title</dd>
    <dd>{{request.title}}</dd>
    <dd>Priority</dd>
    <dd>{{request.priority}}</dd>
    <dd>Message</dd>
    <dd>{{request.message}}</dd>
  </dl>
  <fieldset>
    {{errorMessage}}
    <legend>Edit request</legend>
    <label for="title">Title</label>
    <input id="title" type="text" formControlName="title"/>
    <br/>

    <label for="priority">Select message priority</label>
    <select id="priority" formControlName="priority">
      <option value="Low">Low</option>
      <option value="Medium">Medium</option>
      <option value="High">High</option>
    </select>
    <br/>

    <label for="message">Message</label>
    <textarea id="message" formControlName="message"></textarea>
    <br/>

    <input type="submit" value="Update request" (click)="updateRequest(request._id)"/>
    <input type="reset" value="Reset"/>
  </fieldset>
</form>
